@import './fonts.scss';

// Override default variables before the import

$body-color: #020615;

$headings-font-family: 'Rubik';
$headings-font-weight: 700;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
