@import './fonts.scss';

// Override default variables before the import

// from node_modules/bootstrap/scss/_variables.scss
$primary: #1C31A6; // 69
$secondary: #FFFFFF; // 70
$danger: #B90315; // 74
$light: #FCFBFF; // 75
$body-color: #020615; // 172
$font-family-base: 'Roboto'; // 283
$headings-margin-bottom: 1.5rem; // 306
$headings-font-family: 'Rubik'; // 307
$headings-font-weight: 700; // 308
$input-font-size: 14px; // 462
$input-border-color: #DEE2E6; // 480
$input-placeholder-color: #C2C2C2; // 494
$navbar-light-color: $body-color; // 745

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~react-datepicker/dist/react-datepicker.css';

.form-label {
  font-family: 'RobotoMono';
  font-weight: 700;
  color: $gray-600;
  font-size: 12px;
  margin-left: 1em;
}

div.dropdown button.dropdown-toggle {
  text-align: left;

  &::after {
    float: right;
    margin-top: 9px;
  }
}

.form-group.required .form-label:after {
  content:"*";
  color:$danger;
}

.table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.table thead th {
  font-family: 'RobotoMono';
  font-weight: 700;
  color: $primary;
  font-size: 12px;
  border-top: none;
  border-bottom: none;
}

.table tbody td {
  border-bottom: 1px solid $input-border-color;
  border-left: 1px solid $input-border-color;

  &:last-child {
    border-right: 1px solid $input-border-color;
  }
}

.styled-form-button {
  height: 4em;
  width: 12em;
  border-radius: 2em;
}

.left-menu {
  .col {
    color: $black;
    height: 4em;
    a {
      align-items: center;
      background: $light;
      border-color: $light;
      border-radius: 2em;
      color: $black;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
      &:hover {
        background: #F5F4FF;
        border-color: $light;
        color: $black;
        text-decoration: none;
      }
      &.active {
        background: #F5F4FF;
        border-color: $light;
        color: $black;
      }
    }
  }
}

.action-items {
  a div {
    align-items: center;
    background: $input-border-color;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.details-block {
  border: $input-border-color 0.1rem solid ;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.nameCard-header {
  font-family: 'RobotoMono';
  font-weight: 700;
  color: $primary;
  font-size: 12px;
  border-top: none;
  border-bottom: none;
}

.nameCard {
  border: $input-border-color 0.1rem solid ;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
